:root {
  --font-display: 'Moonpig-Regular', 'Avenir Next', sans-serif;
  --font-display-bold: 'Moonpig-Bold', 'Avenir Next', sans-serif;
  --font-display-light: 'Moonpig-Light', 'Avenir Next', sans-serif;
  --font-mono:
    ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
  --font-rounded: 'Moonpig-Regular', 'SF Pro Rounded', 'Hiragino Maru Gothic ProN', sans-serif;
  --font-serif: 'Moonpig-Regular', Georgia, 'Times New Roman', serif;
}
